main{
    width: 40rem;
}

.currency-content{
    background-color: #46424f;
    width: 40rem;
    padding: 0.8rem;
}

input{
    width: 20rem;
    border-radius: 5px;
    border: 2px solid #5e43f3;
    text-align: center;
}
.currency-list {
    width: 40rem;
    padding: 0.8rem;
    background-color: #46424f;
    color: #fff;
    list-style-type: none;
    height: 20rem;
    text-align: left;
    margin:0;
    overflow-y: scroll;


    &-title{
        font-weight: 700;
        color: #fff;
        font-size: 1.3em;
        margin-bottom: 1.2rem;
    }

    &-text {
        font-family: 'League Spartan', sans-serif;
        border-bottom: 0.6px solid #ba9ffb;
        color: #fff;
        font-weight: 500;
        font-size: 1.2em;
        margin-bottom: 1.2rem;
        transition: 1s;
        cursor: pointer;

    }

    &-text:hover{
        background-color: #f1c5b6;
        width: 100%;
    }

}
