main {
    background-color: #fff;
    width: 40rem;
}

.currency-list {
    width: 40rem;
    padding: 0.8rem;
    background-color: #fff;
    list-style-type: none;
    height: 20rem;
    text-align: left;
    margin:0;
    overflow-y: scroll;


    &-title{
        font-weight: 700;
        color: #bb5432;
        font-size: 1.2em;
        margin-bottom: 1.2rem;
    }

    &-text {
        font-family: 'League Spartan', sans-serif;
        border-bottom: 0.6px solid #bb5432;
        color:#bb5432;
        font-weight: 500;
        font-size: 1.2em;
        margin-bottom: 1.2rem;
        transition: 1s;
        cursor: pointer;

    }

    &-text:hover{
        background-color: #f1c5b6;
        width: 100%;
    }

}

.currency-searchBar{
    width: 20rem;
    margin-bottom: 1.2rem;
}