.resultat {
    background-color: #ffffff;
    padding: 0.8rem;
    width: 40rem;
    height: auto;
    font-family: 'League Spartan', sans-serif;
    ;

    &-number{
        color: #bb5432;
        font-size: 2.3em;
        font-weight: 700;
    }

    &-country{
        color: #bb5432;
        font-size: 2em;
        font-weight: 300;
    }
}

.likes {
    color: #000000;
}