.resultat {
    color:#333;
    padding: 0.8rem;
    width: 40rem;
    height: auto;
    font-family: 'League Spartan', sans-serif;
    background-color: #7a5af5;

    &-number{
        color: #333;
        font-size: 2.3em;
        font-weight: 700;
    }

    &-country{
        color: #333;
        font-size: 2em;
        font-weight: 300;
    }
}

.likes {
    color: #000000;
}